<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>mockFrameworkOn</key>
	<false/>
	<key>testFrameworkOn</key>
	<false/>
	<key>TalkingDataAppID</key>
	<string>85F5F0D491AE4C4F8E9CC6D091AA8077</string>
	<key>channel</key>
	<string>app store</string>
	<key>YXSSOAuthQQAppid</key>
	<string>1106015819</string>
	<key>YXSSOAuthQQAppKey</key>
	<string>p4pTGalltl9VvQLg</string>
	<key>YXSSOAuthWeixinAppid</key>
	<string>wx36496f73c0124b9d</string>
	<key>YXSSOAuthWeixinAppSecret</key>
	<string>25b8ae1389e53089c150c51d95fb35bf</string>
	<key>GeTuiAppId_Dev</key>
	<string>9Ng5XgUmPl7ph0Ms20Y3G5</string>
	<key>GeTuiAppKey_Dev</key>
	<string>vzvNLfGIUP8h8aj6waobvA</string>
	<key>GeTuiAppSecret_Dev</key>
	<string>pqVYEPxb6AAtvel7UHJsd2</string>
	<key>GeTuiAppId_Rel</key>
	<string>AzFI1hszEo6U21wtdrn5K8</string>
	<key>GeTuiAppKey_Rel</key>
	<string>EvZ1LJLZ0z5HyzqWvRFWG2</string>
	<key>GeTuiAppSecret_Rel</key>
	<string>lydBIygOzJ9Rxm9aVBK8P6</string>
</dict>
</plist>
