<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>maxTimeUse</key>
	<integer>2</integer>
	<key>data</key>
	<dict>
		<key>ClassMomentCommentRequest</key>
		<dict>
			<key>mockEnable</key>
			<true/>
			<key>mockFile</key>
			<array>
				<dict>
					<key>fileName</key>
					<string>classMomentComment_mock.json</string>
					<key>percent</key>
					<integer>100</integer>
				</dict>
			</array>
		</dict>
		<key>ClassMomentClickLikeRequest</key>
		<dict>
			<key>mockEnable</key>
			<true/>
			<key>mockFile</key>
			<array>
				<dict>
					<key>fileName</key>
					<string>classMomentClickLike_mock.json</string>
					<key>percent</key>
					<integer>100</integer>
				</dict>
			</array>
		</dict>
		<key>ClassMomentPublishRequest</key>
		<dict>
			<key>mockEnable</key>
			<true/>
			<key>mockFile</key>
			<array>
				<dict>
					<key>fileName</key>
					<string>classMomentPublish_mock.json</string>
					<key>percent</key>
					<integer>100</integer>
				</dict>
			</array>
		</dict>
		<key>ClassMomentListRequest</key>
		<dict>
			<key>mockEnable</key>
			<true/>
			<key>mockFile</key>
			<array>
				<dict>
					<key>fileName</key>
					<string>classMomentList_mock.json</string>
					<key>percent</key>
					<integer>100</integer>
				</dict>
			</array>
		</dict>
		<key>GetCurrentClazsRequest</key>
		<dict>
			<key>mockEnable</key>
			<true/>
			<key>mockFile</key>
			<array>
				<dict>
					<key>fileName</key>
					<string>GetCurrentClazsRequest_mock.json</string>
					<key>percent</key>
					<integer>100</integer>
				</dict>
			</array>
		</dict>
		<key>GetCourseListRequest</key>
		<dict>
			<key>mockEnable</key>
			<true/>
			<key>mockFile</key>
			<array>
				<dict>
					<key>fileName</key>
					<string>GetCourseListRequest_mock.json</string>
					<key>percent</key>
					<integer>100</integer>
				</dict>
			</array>
		</dict>
		<key>GetVoteRequest</key>
		<dict>
			<key>mockEnable</key>
			<true/>
			<key>mockFile</key>
			<array>
				<dict>
					<key>fileName</key>
					<string>QuestionRequestItem_mock.json</string>
					<key>percent</key>
					<integer>100</integer>
				</dict>
			</array>
		</dict>
		<key>GetQuestionnaireRequest</key>
		<dict>
			<key>mockEnable</key>
			<true/>
			<key>mockFile</key>
			<array>
				<dict>
					<key>fileName</key>
					<string>QuestionRequestItem_mock.json</string>
					<key>percent</key>
					<integer>100</integer>
				</dict>
			</array>
		</dict>
		<key>GetCourseRequest</key>
		<dict>
			<key>mockEnable</key>
			<true/>
			<key>mockFile</key>
			<array>
				<dict>
					<key>fileName</key>
					<string>GetCourse_Mock.json</string>
					<key>percent</key>
					<integer>100</integer>
				</dict>
			</array>
		</dict>
		<key>GetNoticeListRequest</key>
		<dict>
			<key>mockEnable</key>
			<true/>
			<key>mockFile</key>
			<array>
				<dict>
					<key>fileName</key>
					<string>GetNoticeList_Mock.json</string>
					<key>percent</key>
					<integer>100</integer>
				</dict>
			</array>
		</dict>
		<key>GetNoticeDetailRequest</key>
		<dict>
			<key>mockEnable</key>
			<true/>
			<key>mockFile</key>
			<array>
				<dict>
					<key>fileName</key>
					<string>GetNoticeDetail_Mock.json</string>
					<key>percent</key>
					<integer>100</integer>
				</dict>
			</array>
		</dict>
		<key>GetCourseCommentRequest</key>
		<dict>
			<key>mockEnable</key>
			<true/>
			<key>mockFile</key>
			<array>
				<dict>
					<key>fileName</key>
					<string>GetCourseCommentRequest_mock.json</string>
					<key>percent</key>
					<integer>100</integer>
				</dict>
			</array>
		</dict>
		<key>SaveUserVoteRequest</key>
		<dict>
			<key>mockEnable</key>
			<true/>
			<key>mockFile</key>
			<array>
				<dict>
					<key>fileName</key>
					<string>errorcode_mock.json</string>
					<key>percent</key>
					<integer>100</integer>
				</dict>
			</array>
		</dict>
		<key>SaveUserQuestionnaireRequest</key>
		<dict>
			<key>mockEnable</key>
			<true/>
			<key>mockFile</key>
			<array>
				<dict>
					<key>fileName</key>
					<string>errorcode_mock.json</string>
					<key>percent</key>
					<integer>100</integer>
				</dict>
			</array>
		</dict>
		<key>SaveUserCommentRequest</key>
		<dict>
			<key>mockEnable</key>
			<true/>
			<key>mockFile</key>
			<array>
				<dict>
					<key>fileName</key>
					<string>errorcode_mock.json</string>
					<key>percent</key>
					<integer>100</integer>
				</dict>
			</array>
		</dict>
		<key>LikeCommentRequest</key>
		<dict>
			<key>mockEnable</key>
			<true/>
			<key>mockFile</key>
			<array>
				<dict>
					<key>fileName</key>
					<string>LikeCommentRequest_mock.json</string>
					<key>percent</key>
					<integer>100</integer>
				</dict>
			</array>
		</dict>
		<key>GetSignInRecordListRequest</key>
		<dict>
			<key>mockEnable</key>
			<true/>
			<key>mockFile</key>
			<array>
				<dict>
					<key>fileName</key>
					<string>GetSignInRecordList_Mock.json</string>
					<key>percent</key>
					<integer>100</integer>
				</dict>
			</array>
		</dict>
		<key>UserSignInRequest</key>
		<dict>
			<key>mockEnable</key>
			<true/>
			<key>mockFile</key>
			<array>
				<dict>
					<key>fileName</key>
					<string>UserSignIn_Mock.json</string>
					<key>percent</key>
					<integer>100</integer>
				</dict>
			</array>
		</dict>
	</dict>
</dict>
</plist>
